<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="emr-document-heading" data-cy="DocumentCreateUpdateHeading" emrTranslate="emrApp.document.home.createOrEditLabel">
        Create or edit a Document
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.document.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" autocomplete="off" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('name')?.errors?.maxlength"
              emrTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 255 }"
            >
              This field cannot be longer than 255 characters.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.document.file" for="field_file">File</label>
          <input type="file" class="form-control" name="file" id="field_file" data-cy="file" formControlName="file" (change)="onFileChange($event)" />
          <div *ngIf="editForm.get('file')!.invalid && (editForm.get('file')!.dirty || editForm.get('file')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('file')?.errors?.required" emrTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.document.documentDate" for="field_documentDate">Document Date</label>
          <div class="d-flex">
            <input
              id="field_documentDate"
              data-cy="documentDate"
              type="datetime-local"
              class="form-control"
              name="documentDate"
              formControlName="documentDate"
              placeholder="YYYY-MM-DD HH:mm"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.document.note" for="field_note">Note</label>
          <textarea class="form-control" name="note" id="field_note" data-cy="note" formControlName="note" autocomplete="off"></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.document.record" for="field_record">Record</label>
          <select class="form-control" id="field_record" data-cy="record" name="record" formControlName="record">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="recordOption.id === editForm.get('record')!.value?.id ? editForm.get('record')!.value : recordOption"
              *ngFor="let recordOption of recordsSharedCollection; trackBy: trackRecordById"
            >
              {{ recordOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
