<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span emrTranslate="emrApp.appUser.home.title">App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.appUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.appUser.home.createLabel"> Create a new App User </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0">
    <span emrTranslate="emrApp.appUser.home.notFound">No appUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appUsers && appUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="user.firstName"><span emrTranslate="emrApp.appUser.user">User</span> <fa-icon icon="sort"></fa-icon></th>

          <th scope="col" emrSortBy="phoneNumber">
            <span emrTranslate="emrApp.appUser.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="dateOfBirth">
            <span emrTranslate="emrApp.appUser.dateOfBirth">Date Of Birth</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="gender"><span emrTranslate="emrApp.appUser.gender">Gender</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="title"><span emrTranslate="emrApp.appUser.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="specialization">
            <span emrTranslate="emrApp.appUser.specialization">Specialization</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="money"><span emrTranslate="emrApp.appUser.money">Money</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="notes"><span emrTranslate="emrApp.appUser.notes">Notes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="institution.id">
            <span emrTranslate="emrApp.appUser.institution">Institution</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appUser of appUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-user', appUser.id, 'view']">{{ appUser.id }}</a>
          </td>
          <td>
            {{ appUser.user?.firstName }}  {{ appUser.user?.lastName }}
          </td>
          <td>{{ appUser.phoneNumber }}</td>
          <td>{{ appUser.dateOfBirth | formatMediumDate }}</td>
          <td emrTranslate="{{ 'emrApp.Gender.' + appUser.gender }}">{{ appUser.gender }}</td>
          <td>{{ appUser.title }}</td>
          <td>{{ appUser.specialization }}</td>
          <td>{{ appUser.money }}</td>
          <td>{{ appUser.notes }}</td>
          
          <td>
            <div *ngIf="appUser.institution">
              <a [routerLink]="['/institution', appUser.institution?.id, 'view']">{{ appUser.institution?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-user', appUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appUsers && appUsers.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
