<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="consent">
      <h2 data-cy="consentDetailsHeading"><span emrTranslate="emrApp.consent.detail.title">Consent</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ consent.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.consent.consentStatus">Consent Status</span></dt>
        <dd>
          <span>{{ consent.consentStatus }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.consent.patient">Patient</span></dt>
        <dd>
          <span>{{ consent.patient?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.consent.doctor">Doctor</span></dt>
        <dd>
          <span>{{ consent.doctor?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/consent', consent.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
