<div>
  <!-- <h2 id="page-heading" data-cy="ConversationHeading">
    <span emrTranslate="emrApp.conversation.home.title">Conversations</span>
  </h2> -->


  <div class="alert alert-warning" id="no-result" *ngIf="conversations?.length === 0">
    <span emrTranslate="emrApp.conversation.home.notFound">No conversations found</span>
  </div>

  <div class="clearfix chat-page">
    <div class="people-list" id="people-list">
      <div class="search">
        <input type="text" placeholder="{{ 'emrApp.conversation.search' | translate }}" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix" [class.active]="!!activeConversation && conversation?.id === activeConversation?.id" *ngFor="let conversation of conversations"  (click)="setActiveConvesation(conversation)">
          <img src="content/images/icons/chat-icon.png" class="avatar" alt="avatar" />
          <div class="about">
            <div class="name">Konverzacija: {{ conversation.name }}</div>
            <div class="status">
              <!-- <i class="fa fa-circle online"></i> online -->
            </div>
          </div>
        </li>

      </ul>
    </div>

    <div class="chat" *ngIf="!!activeConversation">
      <div class="chat-header clearfix">
        <img src="content/images/icons/chat-icon.png" class="avatar" alt="avatar" />

        <div class="chat-about">
          <div class="chat-with">{{ activeConversation.name }}</div>
          <div class="chat-num-messages">{{ 'emrApp.conversation.numberOfMessages' | translate }}: {{ messages?.length }}</div>
        </div>
      </div> <!-- end chat-header -->

      <div class="chat-history" #chatHistory>
        <ul>
          <li class="clearfix" *ngFor="let message of messages">
            <div class="message-data" [class.align-right]="user?.id === message.userId">
              <span class="message-data-time">{{ message.messageDate | formatSqlDate }}</span> &nbsp; &nbsp;
              <span class="message-data-name">{{ message.user }}</span>
              <i class="fa fa-circle " [class.me]="user?.id !== message.userId" [class.online]="user?.id === message.userId"></i>

            </div>
            <div class="message" [class.float-right]="user?.id === message.userId" [class.my-message]="user?.id !== message.userId" [class.other-message]="user?.id === message.userId">
              <pre>{{ message.messageText }}</pre>
            </div>
          </li>

        </ul>

      </div> <!-- end chat-history -->

      <div class="chat-message clearfix">
        <textarea name="message-to-send" [(ngModel)]="message" placeholder="{{ 'emrApp.conversation.typeAMessage' | translate }}" rows="3"></textarea>
        <button [disabled]="!message" (click)="sendMessage()" emrTranslate="emrApp.conversation.send">Send</button>

      </div> <!-- end chat-message -->

    </div> <!-- end chat -->

  </div> <!-- end container -->
  <div class="chat-page">
    <emr-alert-error></emr-alert-error>
    <emr-alert></emr-alert>
  </div>
</div>
