<div>
  <h2 id="page-heading" data-cy="RecordTypeHeading">
    <span emrTranslate="emrApp.recordType.home.title">Record Types</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.recordType.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-record-type"
        [routerLink]="['/record-type/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.recordType.home.createLabel"> Create a new Record Type </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="recordTypes?.length === 0">
    <span emrTranslate="emrApp.recordType.home.notFound">No recordTypes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="recordTypes && recordTypes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="name"><span emrTranslate="emrApp.recordType.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="visibleColumns">
            <span emrTranslate="emrApp.recordType.visibleColumns">Visible Columns</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recordType of recordTypes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/record-type', recordType.id, 'view']">{{ recordType.id }}</a>
          </td>
          <td>{{ recordType.name }}</td>
          <td>{{ recordType.visibleColumns }}</td>
          <td class="text-right">
            <div class="btn-group">

              <button
                type="submit"
                [routerLink]="['/record-type', recordType.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(recordType)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="recordTypes && recordTypes.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
