<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="workHour">
      <h2 data-cy="workHourDetailsHeading"><span emrTranslate="emrApp.workHour.detail.title">Work Hour</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ workHour.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.workHour.timeFrom">Time From</span></dt>
        <dd>
          <span>{{ workHour.timeFrom }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.workHour.timeTo">Time To</span></dt>
        <dd>
          <span>{{ workHour.timeTo }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.workHour.user">User</span></dt>
        <dd>
          <span>{{ workHour.user?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/work-hour', workHour.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
