<div>
  <h2 id="page-heading" data-cy="InstitutionHeading">
    <span emrTranslate="emrApp.institution.home.title">Institutions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.institution.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-institution"
        [routerLink]="['/institution/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.institution.home.createLabel"> Create a new Institution </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="institutions?.length === 0">
    <span emrTranslate="emrApp.institution.home.notFound">No institutions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="institutions && institutions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="name"><span emrTranslate="emrApp.institution.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="phoneNumber">
            <span emrTranslate="emrApp.institution.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="address.id">
            <span emrTranslate="emrApp.institution.address">Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let institution of institutions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/institution', institution.id, 'view']">{{ institution.id }}</a>
          </td>
          <td>{{ institution.name }}</td>
          <td>{{ institution.phoneNumber }}</td>
          <td>
            <div *ngIf="institution.address">
              <a [routerLink]="['/address', institution.address?.id, 'view']">{{ institution.address?.street + ', ' + institution.address?.city }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">

              <button
                type="submit"
                [routerLink]="['/institution', institution.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(institution)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="institutions && institutions.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
