<div>
  <h2 id="page-heading" data-cy="ParticipantsHeading">
    <span emrTranslate="emrApp.participants.home.title">Participants</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.participants.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-participants"
        [routerLink]="['/participants/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.participants.home.createLabel"> Create a new Participants </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="participants?.length === 0">
    <span emrTranslate="emrApp.participants.home.notFound">No participants found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="participants && participants.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="seen"><span emrTranslate="emrApp.participants.seen">Seen</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="user.id"><span emrTranslate="emrApp.participants.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="conversation.id">
            <span emrTranslate="emrApp.participants.conversation">Conversation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let participants of participants; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/participants', participants.id, 'view']">{{ participants.id }}</a>
          </td>
          <td>{{ participants.seen }}</td>
          <td>
            {{ participants.user?.id }}
          </td>
          <td>
            <div *ngIf="participants.conversation">
              <a [routerLink]="['/conversation', participants.conversation?.id, 'view']">{{ participants.conversation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/participants', participants.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/participants', participants.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(participants)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="participants && participants.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
