<div>
  <h2 id="page-heading" data-cy="RecordHeading">
    <span emrTranslate="emrApp.record.home.title">Records</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.record.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-record"
        [routerLink]="['/record/' + userId + '/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.record.home.createLabel"> Create a new Record </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="record-types-wrapper">
    <div class="record-type" *ngFor="let rt of recordTypes">
      <h3>{{ rt.name }}</h3>
      <div class="records" *ngIf="data[toString(rt.id)] && data[toString(rt.id)].length > 0">
        <div class="record">
          <div class="table-responsive px-3" id="entities">
            <table class="table table-striped" aria-describedby="page-heading">
              <thead>
                <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
                  <th scope="col" emrSortBy="name"><span emrTranslate="emrApp.record.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                  <th scope="col" emrSortBy="recordDate">
                    <span emrTranslate="emrApp.record.recordDate">Record Date</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" emrSortBy="additionalInformation">
                    <span emrTranslate="emrApp.record.additionalInformation">Additional Information</span> <fa-icon icon="sort"></fa-icon>
                  </th>
                  <th scope="col" emrSortBy="active"><span emrTranslate="emrApp.record.active">Active</span> <fa-icon icon="sort"></fa-icon></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr data-cy="entityTable" *ngFor="let record of data[toString(rt.id)]">
                  <td>{{ record.name }}</td>
                  <td>{{ record.recordDate | formatMediumDate }}</td>
                  <td>{{ record.additionalInformation }}</td>
                  <td>{{ record.active }}</td>
                  <td class="text-right">
                    <div class="btn-group">

                      <button type="submit" [routerLink]="['/record', userId, record.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
                      </button>

                      <button type="submit" (click)="delete(record)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>

    <div class="alert alert-warning mx-3" *ngIf="!!data[toString(rt.id)] && data[toString(rt.id)].length === 0">
      <span emrTranslate="emrApp.record.home.notFound">No records found</span>
    </div>
  </div>



</div>
