<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="transaction">
      <h2 data-cy="transactionDetailsHeading"><span emrTranslate="emrApp.transaction.detail.title">Transaction</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ transaction.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.transaction.amount">Amount</span></dt>
        <dd>
          <span>{{ transaction.amount }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.transaction.note">Note</span></dt>
        <dd>
          <span>{{ transaction.note }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.transaction.transactionDate">Transaction Date</span></dt>
        <dd>
          <span>{{ transaction.transactionDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.transaction.patient">Patient</span></dt>
        <dd>
          <span>{{ transaction.patient?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.transaction.administrator">Administrator</span></dt>
        <dd>
          <span>{{ transaction.administrator?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/transaction', transaction.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
