<div>
  <h2 id="page-heading" data-cy="TransactionHeading">
    <span emrTranslate="emrApp.transaction.home.title">Transactions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.transaction.home.refreshListLabel">Refresh List</span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="transactions?.length === 0">
    <span emrTranslate="emrApp.transaction.home.notFound">No transactions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="transactions && transactions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="amount">
            <span emrTranslate="emrApp.transaction.amount">Amount</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="note"><span emrTranslate="emrApp.transaction.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="transactionDate">
            <span emrTranslate="emrApp.transaction.transactionDate">Transaction Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="patient.id">
            <span emrTranslate="emrApp.transaction.patient">Patient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="administrator.id">
            <span emrTranslate="emrApp.transaction.administrator">Administrator</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction', transaction.id, 'view']">{{ transaction.id }}</a>
          </td>
          <td>{{ transaction.amount }}</td>
          <td>{{ transaction.note }}</td>
          <td>{{ transaction.transactionDate | formatMediumDatetime }}</td>
          <td>
            {{ transaction.patient?.firstName }}  {{ transaction.patient?.lastName }}
          </td>
          <td>
            {{ transaction.administrator?.firstName }} {{ transaction.administrator?.lastName }}
          </td>
          <!-- <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction', transaction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transaction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactions && transactions.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
