<div class="row">

    <div class="col-md-6">
        <form class="mb-2">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="doctor" class="sr-only">Ime doktora</label>
                        <input type="text" class="form-control" id="doctor" placeholder="Ime doktora" name="doctor"  [(ngModel)]="searchTerm" (keyup)="searchDoctor()">
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" #specialization (change)="searchDoctor()" name="specialization" [(ngModel)]="activeSpecialization">
                        <option value="">Specijalizacija</option>
                        <option *ngFor="let option of specializations" [value]="option">{{ option }}</option>
                    </select>
                </div>
            </div>
        </form>
        <ul class="list-group">

            <a class="list-group-item list-group-item-action" *ngFor="let doctor of filteredDoctors" [class.active]="selectedDoctor === doctor">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1" (click)="selectDoctor(doctor)">{{ doctor.first_name + ' ' + doctor.last_name }}</p>
                    <div>

                        <button type="button" [routerLink]="['/conversation', 'doctor', doctor.id, doctor.first_name + ' ' + doctor.last_name]" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                            <fa-icon icon="comment"></fa-icon>
                            <span class="d-none d-md-inline">Poruka</span>
                        </button>
                        <button type="button" [routerLink]="['/appointment', 'new', doctor.id]" class="btn btn-warning btn-sm" data-cy="entityDetailsButton">
                            <fa-icon icon="calendar"></fa-icon>
                            <span class="d-none d-md-inline">Zakažite termin</span>
                        </button>
                        <button type="button" [routerLink]="['/transaction', 'new', doctor.id]" class="btn btn-success btn-sm" data-cy="entityDetailsButton">
                            <fa-icon icon="money-bill"></fa-icon>
                            <span class="d-none d-md-inline">Novo plaćanje</span>
                        </button>
                    </div>
                </div>
                <small>{{ doctor.specialization }}</small>
            </a>
        </ul>
    </div>
    <div class="col-md-6">
        <div #map style="width:100%;height:90vh"></div>
    </div>

</div>
