<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="message">
      <h2 data-cy="messageDetailsHeading"><span emrTranslate="emrApp.message.detail.title">Message</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ message.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.message.messageText">Message Text</span></dt>
        <dd>
          <span>{{ message.messageText }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.message.messageDate">Message Date</span></dt>
        <dd>
          <span>{{ message.messageDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.message.user">User</span></dt>
        <dd>
          <span>{{ message.user?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.message.conversation">Conversation</span></dt>
        <dd>
          <div *ngIf="message.conversation">
            <a [routerLink]="['/conversation', message.conversation?.id, 'view']">{{ message.conversation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/message', message.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
