<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appointment">
      <h2 data-cy="appointmentDetailsHeading"><span emrTranslate="emrApp.appointment.detail.title">Appointment</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appointment.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.appointmentDate">Appointment Date</span></dt>
        <dd>
          <span>{{ appointment.appointmentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.timeFrom">Time From</span></dt>
        <dd>
          <span>{{ appointment.timeFrom }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.timeTo">Time To</span></dt>
        <dd>
          <span>{{ appointment.timeTo }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.appointmentStatus">Appointment Status</span></dt>
        <dd>
          <span emrTranslate="{{ 'emrApp.AppointmentStatus.' + appointment.appointmentStatus }}">{{ appointment.appointmentStatus }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.patient">Patient</span></dt>
        <dd>
          <span>{{ appointment.patient?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appointment.doctor">Doctor</span></dt>
        <dd>
          <span>{{ appointment.doctor?.id }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/appointment', appointment.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
