<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="recordType">
      <h2 data-cy="recordTypeDetailsHeading"><span emrTranslate="emrApp.recordType.detail.title">Record Type</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ recordType.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.recordType.name">Name</span></dt>
        <dd>
          <span>{{ recordType.name }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.recordType.visibleColumns">Visible Columns</span></dt>
        <dd>
          <span>{{ recordType.visibleColumns }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/record-type', recordType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
