<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="saveAdmin()" [formGroup]="editForm">
      <h2 id="emr-app-user-heading" data-cy="AppUserCreateUpdateHeading"
        emrTranslate="emrApp.appUser.home.createOrEditLabel">
        Create or edit a App User
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div id="AM-ADMIN" [formGroup]="editAdminForm">



        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group" [formGroup]="editAdminForm">
              <label class="form-control-label" emrTranslate="userManagement.firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" />

              <div
                *ngIf="editAdminForm.get('firstName')!.invalid && (editAdminForm.get('firstName')!.dirty || editAdminForm.get('firstName')!.touched)">
                <small class="form-text text-danger" *ngIf="editAdminForm.get('firstName')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group" [formGroup]="editAdminForm">
              <label emrTranslate="userManagement.lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" formControlName="lastName" />

              <div
                *ngIf="editAdminForm.get('lastName')!.invalid && (editAdminForm.get('lastName')!.dirty || editAdminForm.get('lastName')!.touched)">
                <small class="form-text text-danger" *ngIf="editAdminForm.get('lastName')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="form-group" [formGroup]="editAdminForm">
              <label emrTranslate="userManagement.profiles">Profiles</label>
              <select class="form-control" name="authority" formControlName="authorities">
                <option *ngFor="let auth of authorities" [value]="auth">{{ auth }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">

            <div class="form-group" [formGroup]="editAdminForm">
              <label class="form-control-label" emrTranslate="userManagement.email">Email</label>
              <input type="email" class="form-control" name="email" formControlName="email" />

              <div
                *ngIf="editAdminForm.get('email')!.invalid && (editAdminForm.get('email')!.dirty || editAdminForm.get('email')!.touched)">
                <small class="form-text text-danger" *ngIf="editAdminForm.get('email')?.errors?.required"
                  emrTranslate="entity.validation.required">
                  This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="editAdminForm.get('email')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                  This field cannot be longer than 100 characters.
                </small>

                <small class="form-text text-danger" *ngIf="editAdminForm.get('email')?.errors?.minlength"
                  emrTranslate="entity.validation.minlength" [translateValues]="{ min: 5 }">
                  This field is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="editAdminForm.get('email')?.errors?.email"
                  emrTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>
              </div>
            </div>


          </div>
          <div class="col-md-4">
            <div class="form-group" [formGroup]="editAdminForm">
              <label class="form-control-label" emrTranslate="userManagement.login">Login</label>
              <input type="text" class="form-control" name="login" formControlName="login" />

              <div
                *ngIf="editAdminForm.get('login')!.invalid && (editAdminForm.get('login')!.dirty || editAdminForm.get('login')!.touched)">
                <small class="form-text text-danger" *ngIf="editAdminForm.get('login')?.errors?.required"
                  emrTranslate="entity.validation.required">
                  This field is required.
                </small>

                <small class="form-text text-danger" *ngIf="editAdminForm.get('login')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                  This field cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="editAdminForm.get('login')?.errors?.pattern"
                  emrTranslate="entity.validation.patternLogin">
                  This field can only contain letters, digits and e-mail addresses.
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.money" for="field_money">Money</label>
              <input type="number" class="form-control" name="money" id="field_money" data-cy="money"
                formControlName="money" />
            </div>
          </div>


          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.gender" for="field_gender">Gender</label>
              <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
                <option [ngValue]="null">{{ 'emrApp.Gender.null' | translate }}</option>
                <option value="MALE">{{ 'emrApp.Gender.MALE' | translate }}</option>
                <option value="FEMALE">{{ 'emrApp.Gender.FEMALE' | translate }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.dateOfBirth" for="field_dateOfBirth">Date
                Of
                Birth</label>
              <div class="input-group">
                <input id="field_dateOfBirth" data-cy="dateOfBirth" type="text" class="form-control" name="dateOfBirth"
                  ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth" />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.phoneNumber" for="field_phoneNumber">Phone
                Number</label>
              <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" data-cy="phoneNumber"
                formControlName="phoneNumber" />
              <div
                *ngIf="editForm.get('phoneNumber')!.invalid && (editForm.get('phoneNumber')!.dirty || editForm.get('phoneNumber')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('phoneNumber')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                  This field cannot be longer than 20 characters.
                </small>
              </div>
            </div>

          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.title" for="field_title">Title</label>
              <input type="text" class="form-control" name="title" id="field_title" data-cy="title"
                formControlName="title" />
              <div
                *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
                <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 63 }">
                  This field cannot be longer than 63 characters.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.specialization"
                for="field_specialization">Specialization</label>
              <input type="text" list="specialization" class="form-control" name="specialization"
                id="field_specialization" data-cy="specialization" formControlName="specialization"
                autocomplete="off" />
              <datalist id="specialization">
                <option [value]="s" *ngFor="let s of specializations">
              </datalist>
              <div *ngIf="
                  editForm.get('specialization')!.invalid && (editForm.get('specialization')!.dirty || editForm.get('specialization')!.touched)
                ">
                <small class="form-text text-danger" *ngIf="editForm.get('specialization')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                  This field cannot be longer than 255 characters.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.institution"
                for="field_institution">Institution</label>
              <select class="form-control" id="field_institution" data-cy="institution" name="institution"
                formControlName="institution">
                <option [ngValue]="null"></option>
                <option [ngValue]="
                    institutionOption.id === editForm.get('institution')!.value?.id ? editForm.get('institution')!.value : institutionOption
                  " *ngFor="let institutionOption of institutionsSharedCollection; trackBy: trackInstitutionById">
                  {{ institutionOption.name }}
                </option>
              </select>
            </div>
          </div>

        </div>


        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.appUser.notes" for="field_notes">Notes</label>
          <textarea type="text" class="form-control" name="notes" id="field_notes" data-cy="notes"
            formControlName="notes"></textarea>
        </div>

      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary"
          (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button type="submit" id="save-entity" data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>


    </form>
  </div>
</div>