<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="emr-work-hour-heading" data-cy="WorkHourCreateUpdateHeading" emrTranslate="emrApp.workHour.home.createOrEditLabel">
        Create or edit a Work Hour
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" emrTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.workHour.timeFrom" for="field_timeFrom">Time From</label>
          <input type="text" class="form-control" name="timeFrom" id="field_timeFrom" data-cy="timeFrom" formControlName="timeFrom" />
          <div *ngIf="editForm.get('timeFrom')!.invalid && (editForm.get('timeFrom')!.dirty || editForm.get('timeFrom')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timeFrom')?.errors?.pattern"
              emrTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Time From' }"
            >
              This field should follow pattern for "Time From".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.workHour.timeTo" for="field_timeTo">Time To</label>
          <input type="text" class="form-control" name="timeTo" id="field_timeTo" data-cy="timeTo" formControlName="timeTo" />
          <div *ngIf="editForm.get('timeTo')!.invalid && (editForm.get('timeTo')!.dirty || editForm.get('timeTo')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('timeTo')?.errors?.pattern"
              emrTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Time To' }"
            >
              This field should follow pattern for "Time To".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.workHour.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
