<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="emr-record-heading" data-cy="RecordCreateUpdateHeading" emrTranslate="emrApp.record.home.createOrEditLabel">
        Create or edit a Record
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.record.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" autocomplete="off" />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.record.recordDate" for="field_recordDate">Record Date</label>
          <div class="d-flex">
            <input
              id="field_recordDate"
              data-cy="recordDate"
              type="datetime-local"
              class="form-control"
              name="recordDate"
              formControlName="recordDate"
              placeholder="YYYY-MM-DD HH:mm"
              autocomplete="off"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.record.additionalInformation" for="field_additionalInformation"
            >Additional Information</label
          >
          <textarea
            type="text"
            class="form-control"
            name="additionalInformation"
            id="field_additionalInformation"
            data-cy="additionalInformation"
            formControlName="additionalInformation"
            autocomplete="off"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.record.active" for="field_active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.record.recordType" for="field_recordType">Record Type</label>
          <select class="form-control" id="field_recordType" data-cy="recordType" name="recordType" formControlName="recordType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                recordTypeOption.id === editForm.get('recordType')!.value?.id ? editForm.get('recordType')!.value : recordTypeOption
              "
              *ngFor="let recordTypeOption of recordTypesSharedCollection; trackBy: trackRecordTypeById"
            >
              {{ recordTypeOption.name }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
