<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="participants">
      <h2 data-cy="participantsDetailsHeading"><span emrTranslate="emrApp.participants.detail.title">Participants</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ participants.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.participants.seen">Seen</span></dt>
        <dd>
          <span>{{ participants.seen }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.participants.user">User</span></dt>
        <dd>
          <span>{{ participants.user?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.participants.conversation">Conversation</span></dt>
        <dd>
          <div *ngIf="participants.conversation">
            <a [routerLink]="['/conversation', participants.conversation?.id, 'view']">{{ participants.conversation?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/participants', participants.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
