<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 emrTranslate="register.title" data-cy="registerTitle">Registration</h1>

      <div class="alert alert-success" *ngIf="success" emrTranslate="register.messages.success">
        <strong>Registration saved!</strong>
      </div>

      <div class="alert alert-danger" *ngIf="error" emrTranslate="register.messages.error.fail">
        <strong>Registration failed!</strong> Please try again later.
      </div>

      <div class="alert alert-danger" *ngIf="errorUserExists" emrTranslate="register.messages.error.userexists">
        <strong>Login name already registered!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="errorEmailExists" emrTranslate="register.messages.error.emailexists">
        <strong>Email is already in use!</strong> Please choose another one.
      </div>

      <div class="alert alert-danger" *ngIf="doNotMatch" emrTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="login" emrTranslate="global.form.username.label">Username</label>
              <input type="text" class="form-control" id="login" name="login"
                placeholder="{{ 'global.form.username.placeholder' | translate }}" formControlName="login"
                data-cy="username" #login />

              <div
                *ngIf="registerForm.get('login')!.invalid && (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required"
                  emrTranslate="register.messages.validate.login.required">
                  Your username is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength"
                  emrTranslate="register.messages.validate.login.minlength">
                  Your username is required to be at least 1 character.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength"
                  emrTranslate="register.messages.validate.login.maxlength">
                  Your username cannot be longer than 50 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern"
                  emrTranslate="register.messages.validate.login.pattern">
                  Your username can only contain letters and digits.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="userManagement.firstName">First Name</label>
              <input type="text" class="form-control" name="firstName" formControlName="firstName" />

              <div
                *ngIf="registerForm.get('firstName')!.invalid && (registerForm.get('firstName')!.dirty || registerForm.get('firstName')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.required"
                  emrTranslate="register.messages.validate.firstName.required">
                  Your first name is required.
                </small>
                <small class="form-text text-danger" *ngIf="registerForm.get('firstName')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>
          </div>
          <div class="col-md-4">

            <div class="form-group">
              <label emrTranslate="userManagement.lastName">Last Name</label>
              <input type="text" class="form-control" name="lastName" formControlName="lastName" />

              <div
                *ngIf="registerForm.get('lastName')!.invalid && (registerForm.get('lastName')!.dirty || registerForm.get('lastName')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.required"
                  emrTranslate="register.messages.validate.lastName.required">
                  Your last name is required.
                </small>
                <small class="form-text text-danger" *ngIf="registerForm.get('lastName')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                  This field cannot be longer than 50 characters.
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="email" emrTranslate="global.form.email.label">Email</label>
              <input type="email" class="form-control" id="email" name="email"
                placeholder="{{ 'global.form.email.placeholder' | translate }}" formControlName="email"
                data-cy="email" />

              <div
                *ngIf="registerForm.get('email')!.invalid && (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required"
                  emrTranslate="global.messages.validate.email.required">
                  Your email is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid"
                  emrTranslate="global.messages.validate.email.invalid">
                  Your email is invalid.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength"
                  emrTranslate="global.messages.validate.email.minlength">
                  Your email is required to be at least 5 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength"
                  emrTranslate="global.messages.validate.email.maxlength">
                  Your email cannot be longer than 100 characters.
                </small>
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" for="password" emrTranslate="global.form.newpassword.label">New
                password</label>
              <input type="password" class="form-control" id="password" name="password"
                placeholder="{{ 'global.form.newpassword.placeholder' | translate }}" formControlName="password"
                data-cy="firstPassword" />

              <div
                *ngIf="registerForm.get('password')!.invalid && (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required"
                  emrTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength"
                  emrTranslate="global.messages.validate.newpassword.minlength">
                  Your password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength"
                  emrTranslate="global.messages.validate.newpassword.maxlength">
                  Your password cannot be longer than 50 characters.
                </small>
              </div>

              <emr-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value">
              </emr-password-strength-bar>
            </div>
          </div>
          <div class="col-md-4">

            <div class="form-group">
              <label class="form-control-label" for="confirmPassword"
                emrTranslate="global.form.confirmpassword.label">New
                password confirmation</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                formControlName="confirmPassword" data-cy="secondPassword" />

              <div *ngIf="
                registerForm.get('confirmPassword')!.invalid &&
                (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)
              ">
                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required"
                  emrTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength"
                  emrTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
                </small>

                <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength"
                  emrTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.gender" for="field_gender">Gender</label>
              <select class="form-control" name="gender" formControlName="gender" id="field_gender" data-cy="gender">
                <option [ngValue]="null">{{ 'emrApp.Gender.null' | translate }}</option>
                <option value="MALE">{{ 'emrApp.Gender.MALE' | translate }}</option>
                <option value="FEMALE">{{ 'emrApp.Gender.FEMALE' | translate }}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.dateOfBirth" for="field_dateOfBirth">Date
                Of
                Birth</label>
              <div class="input-group">
                <input id="field_dateOfBirth" data-cy="dateOfBirth" type="text" class="form-control" name="dateOfBirth"
                  ngbDatepicker #dateOfBirthDp="ngbDatepicker" formControlName="dateOfBirth" />
                <span class="input-group-append">
                  <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()">
                    <fa-icon icon="calendar-alt"></fa-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label class="form-control-label" emrTranslate="emrApp.appUser.phoneNumber" for="field_phoneNumber">Phone
                Number</label>
              <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber" data-cy="phoneNumber"
                formControlName="phoneNumber" />
              <div
                *ngIf="registerForm.get('phoneNumber')!.invalid && (registerForm.get('phoneNumber')!.dirty || registerForm.get('phoneNumber')!.touched)">
                <small class="form-text text-danger" *ngIf="registerForm.get('phoneNumber')?.errors?.maxlength"
                  emrTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                  This field cannot be longer than 20 characters.
                </small>
              </div>
            </div>
          </div>
        </div>

        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary"
          emrTranslate="register.form.button" data-cy="submit">
          Register
        </button>
      </form>

    </div>
  </div>
</div>