<nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-primary">
  <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
    <span class="logo-img"></span>
  </a>
  <a
    class="navbar-toggler d-lg-none"
    href="javascript:void(0);"
    data-toggle="collapse"
    data-target="#navbarResponsive"
    aria-controls="navbarResponsive"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="toggleNavbar()"
  >
    <fa-icon icon="bars"></fa-icon>
  </a>
  <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
          <span>
            <fa-icon icon="home"></fa-icon>
            <span emrTranslate="global.menu.home">Home</span>
          </span>
        </a>
      </li>
      <!-- patient menu: -->
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_PATIENT'">
        <a class="nav-link" routerLink="search-doctor">
          <span>
            <fa-icon icon="search"></fa-icon>
            <span>Pretraga lekara</span>
          </span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_PATIENT'">
        <a class="nav-link" routerLink="record/me">
          <span>
            <fa-icon icon="notes-medical"></fa-icon>
            <span emrTranslate="global.menu.myHistory">Moja istorija</span>
          </span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_PATIENT'">
        <a class="nav-link" routerLink="document/me" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <fa-icon icon="book-medical" [fixedWidth]="true"></fa-icon>
          <span emrTranslate="global.menu.document">My Documents</span>
        </a>
      </li>
      <!-- document menu: -->
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="['ROLE_PATIENT', 'ROLE_DOCTOR']">
        <a class="nav-link" routerLink="appointment" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <fa-icon icon="calendar"></fa-icon>
          <span>Moji termini</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_DOCTOR'">
        <a class="nav-link" routerLink="my-patients" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <fa-icon icon="user-friends"></fa-icon>
          <span emrTranslate="global.menu.entities.consent">Moji pacijenti</span>
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="['ROLE_PATIENT', 'ROLE_DOCTOR']">
        <a class="nav-link" routerLink="conversation">
          <span>
            <fa-icon icon="comment"></fa-icon>
            <span>Moje poruke</span>
          </span>
        </a>
      </li>

      <ng-container *emrHasAnyAuthority="'ROLE_ADMIN'">
        <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_ADMIN'">
          <a class="nav-link" routerLink="app-user">
            <span>
              <fa-icon icon="users"></fa-icon>
              <span emrTranslate="global.menu.admin.userManagement">User management</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_ADMIN'">
          <a class="nav-link" routerLink="institution">
            <span>
              <fa-icon icon="building"></fa-icon>
              <span emrTranslate="global.menu.entities.institution">Institution</span>
            </span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_ADMIN'">
          <a class="nav-link" routerLink="transaction">
            <span>
              <fa-icon icon="money-bill"></fa-icon>
              <span emrTranslate="global.menu.entities.transaction">Transaction</span>
            </span>
          </a>
        </li>

        <li class="nav-item" routerLinkActive="active" *emrHasAnyAuthority="'ROLE_ADMIN'">
          <a class="nav-link" routerLink="work-hour">
            <span>
              <fa-icon icon="clock"></fa-icon>
              <span emrTranslate="global.menu.entities.workHour">Work Hour</span>
            </span>
          </a>
        </li>

        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span emrTranslate="global.menu.entities.main">Entities</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="address"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span emrTranslate="global.menu.entities.address">Address</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="record-type"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span emrTranslate="global.menu.entities.recordType">Record Type</span>
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
      <!-- <li
        *emrHasAnyAuthority="'ROLE_ADMIN'"
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span>
            <fa-icon icon="users-cog"></fa-icon>
            <span emrTranslate="global.menu.admin.main">Administration</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li>
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.admin.userManagement">User management</span>
            </a>
          </li>
        </ul>
      </li> -->
      <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" *ngIf="languages && languages.length > 1">
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown">
          <span>
            <fa-icon icon="flag"></fa-icon>
            <span emrTranslate="global.menu.language">Language</span>
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="languagesnavBarDropdown">
          <li *ngFor="let language of languages">
            <a
              class="dropdown-item"
              [emrActiveMenu]="language"
              href="javascript:void(0);"
              (click)="changeLanguage(language); collapseNavbar()"
              >{{ language | findLanguageFromKey }}</a
            >
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        class="nav-item dropdown pointer"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span *ngIf="!account?.imageUrl">
            <fa-icon icon="user"></fa-icon>
            <span emrTranslate="global.menu.account.main">Account</span>
          </span>
          <span *ngIf="account?.imageUrl">
            <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
          </span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true">
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.account.settings">Settings</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.account.password">Password</span>
            </a>
          </li>
          <li *ngSwitchCase="true">
            <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
              <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.account.logout">Sign out</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
              <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.account.login">Sign in</span>
            </a>
          </li>
          <li *ngSwitchCase="false">
            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
              <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
              <span emrTranslate="global.menu.account.register">Register</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
