<div>
  <h2 id="page-heading" data-cy="DocumentHeading">
    <span emrTranslate="emrApp.document.home.title">Documents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.document.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-document"
        [routerLink]="['/document/' + userId + '/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.document.home.createLabel"> Create a new Document </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="documents?.length === 0">
    <span emrTranslate="emrApp.document.home.notFound">No documents found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="documents && documents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="name"><span emrTranslate="emrApp.document.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="documentDate">
            <span emrTranslate="emrApp.document.documentDate">Document Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="note"><span emrTranslate="emrApp.document.note">Note</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="record.id">
            <span emrTranslate="emrApp.document.record">Record</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/document', document.id, 'view']">{{ document.id }}</a>
          </td>
          <td>{{ document.name }}</td>
          <td>{{ document.documentDate | formatMediumDatetime }}</td>
          <td>{{ document.note }}</td>
          <td>
            <div *ngIf="document.record">{{ document.record?.name }}</div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <a
                [href]="'/documents/user_' + userId + '/' + document.file"
                target="_blank"
                class="btn btn-info btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.view">View</span>
              </a>

              <button
                type="submit"
                [routerLink]="['/document', userId, document.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(document)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="documents && documents.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
