<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="address">
      <h2 data-cy="addressDetailsHeading"><span emrTranslate="emrApp.address.detail.title">Address</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ address.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.address.street">Street</span></dt>
        <dd>
          <span>{{ address.street }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.address.city">City</span></dt>
        <dd>
          <span>{{ address.city }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.address.latitude">Latitude</span></dt>
        <dd>
          <span>{{ address.latitude }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.address.longitude">Longitude</span></dt>
        <dd>
          <span>{{ address.longitude }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/address', address.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
