<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="document">
      <h2 data-cy="documentDetailsHeading"><span emrTranslate="emrApp.document.detail.title">Document</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ document.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.name">Name</span></dt>
        <dd>
          <span>{{ document.name }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.file">File</span></dt>
        <dd>
          <span>{{ document.file }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.documentDate">Document Date</span></dt>
        <dd>
          <span>{{ document.documentDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.note">Note</span></dt>
        <dd>
          <span>{{ document.note }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.user">User</span></dt>
        <dd>
          <span>{{ document.user?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.document.record">Record</span></dt>
        <dd>
          <div *ngIf="document.record">
            <a [routerLink]="['/record', document.record?.id, 'view']">{{ document.record?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/document', document.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
