<div>
  <h2 id="page-heading" data-cy="MessageHeading">
    <span emrTranslate="emrApp.message.home.title">Messages</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.message.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-message"
        [routerLink]="['/message/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.message.home.createLabel"> Create a new Message </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="messages?.length === 0">
    <span emrTranslate="emrApp.message.home.notFound">No messages found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="messages && messages.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="messageText">
            <span emrTranslate="emrApp.message.messageText">Message Text</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="messageDate">
            <span emrTranslate="emrApp.message.messageDate">Message Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="user.id"><span emrTranslate="emrApp.message.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="conversation.id">
            <span emrTranslate="emrApp.message.conversation">Conversation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/message', message.id, 'view']">{{ message.id }}</a>
          </td>
          <td>{{ message.messageText }}</td>
          <td>{{ message.messageDate | formatMediumDatetime }}</td>
          <td>
            {{ message.user?.id }}
          </td>
          <td>
            <div *ngIf="message.conversation">
              <a [routerLink]="['/conversation', message.conversation?.id, 'view']">{{ message.conversation?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/message', message.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/message', message.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(message)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="messages && messages.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
