<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="emr-consent-heading" data-cy="ConsentCreateUpdateHeading" emrTranslate="emrApp.consent.home.createOrEditLabel">
        Create or edit a Consent
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" emrTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.consent.consentStatus" for="field_consentStatus">Consent Status</label>
          <input
            type="checkbox"
            class="form-check"
            name="consentStatus"
            id="field_consentStatus"
            data-cy="consentStatus"
            formControlName="consentStatus"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.consent.patient" for="field_patient">Patient</label>
          <select class="form-control" id="field_patient" data-cy="patient" name="patient" formControlName="patient">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('patient')!.value?.id ? editForm.get('patient')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.consent.doctor" for="field_doctor">Doctor</label>
          <select class="form-control" id="field_doctor" data-cy="doctor" name="doctor" formControlName="doctor">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('doctor')!.value?.id ? editForm.get('doctor')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
