<div>
  <h2>
    <span id="metrics-page-heading" emrTranslate="metrics.title" data-cy="metricsPageHeading">Application Metrics</span>

    <button class="btn btn-primary float-right" (click)="refresh()">
      <fa-icon icon="sync"></fa-icon> <span emrTranslate="metrics.refresh.button">Refresh</span>
    </button>
  </h2>

  <h3 emrTranslate="metrics.jvm.title">JVM Metrics</h3>

  <div class="row" *ngIf="metrics && !updatingMetrics">
    <emr-jvm-memory class="col-md-4" [updating]="updatingMetrics" [jvmMemoryMetrics]="metrics.jvm"></emr-jvm-memory>

    <emr-jvm-threads class="col-md-4" [threads]="threads"></emr-jvm-threads>

    <emr-metrics-system class="col-md-4" [updating]="updatingMetrics" [systemMetrics]="metrics.processMetrics"></emr-metrics-system>
  </div>

  <emr-metrics-garbagecollector
    *ngIf="metrics && metricsKeyExists('garbageCollector')"
    [updating]="updatingMetrics"
    [garbageCollectorMetrics]="metrics.garbageCollector"
  ></emr-metrics-garbagecollector>

  <div class="well well-lg" *ngIf="updatingMetrics" emrTranslate="metrics.updating">Updating...</div>

  <emr-metrics-request
    *ngIf="metrics && metricsKeyExists('http.server.requests')"
    [updating]="updatingMetrics"
    [requestMetrics]="metrics['http.server.requests']"
  ></emr-metrics-request>

  <emr-metrics-endpoints-requests
    *ngIf="metrics && metricsKeyExists('services')"
    [updating]="updatingMetrics"
    [endpointsRequestsMetrics]="metrics.services"
  ></emr-metrics-endpoints-requests>

  <emr-metrics-cache
    *ngIf="metrics && metricsKeyExists('cache')"
    [updating]="updatingMetrics"
    [cacheMetrics]="metrics.cache"
  ></emr-metrics-cache>

  <emr-metrics-datasource
    *ngIf="metrics && metricsKeyExistsAndObjectNotEmpty('databases')"
    [updating]="updatingMetrics"
    [datasourceMetrics]="metrics.databases"
  ></emr-metrics-datasource>
</div>
