<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="emr-message-heading" data-cy="MessageCreateUpdateHeading" emrTranslate="emrApp.message.home.createOrEditLabel">
        Create or edit a Message
      </h2>

      <div>
        <emr-alert-error></emr-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" emrTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.message.messageText" for="field_messageText">Message Text</label>
          <input
            type="text"
            class="form-control"
            name="messageText"
            id="field_messageText"
            data-cy="messageText"
            formControlName="messageText"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.message.messageDate" for="field_messageDate">Message Date</label>
          <div class="d-flex">
            <input
              id="field_messageDate"
              data-cy="messageDate"
              type="datetime-local"
              class="form-control"
              name="messageDate"
              formControlName="messageDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.message.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; trackBy: trackUserById"
            >
              {{ userOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" emrTranslate="emrApp.message.conversation" for="field_conversation">Conversation</label>
          <select class="form-control" id="field_conversation" data-cy="conversation" name="conversation" formControlName="conversation">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                conversationOption.id === editForm.get('conversation')!.value?.id ? editForm.get('conversation')!.value : conversationOption
              "
              *ngFor="let conversationOption of conversationsSharedCollection; trackBy: trackConversationById"
            >
              {{ conversationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span emrTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span emrTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
