<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="appUser">
      <h2 data-cy="appUserDetailsHeading"><span emrTranslate="emrApp.appUser.detail.title">App User</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ appUser.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ appUser.phoneNumber }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.dateOfBirth">Date Of Birth</span></dt>
        <dd>
          <span>{{ appUser.dateOfBirth | formatMediumDate }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.gender">Gender</span></dt>
        <dd>
          <span emrTranslate="{{ 'emrApp.Gender.' + appUser.gender }}">{{ appUser.gender }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.title">Title</span></dt>
        <dd>
          <span>{{ appUser.title }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.specialization">Specialization</span></dt>
        <dd>
          <span>{{ appUser.specialization }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.money">Money</span></dt>
        <dd>
          <span>{{ appUser.money }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.notes">Notes</span></dt>
        <dd>
          <span>{{ appUser.notes }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.user">User</span></dt>
        <dd>
          <span>{{ appUser.user?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.appUser.institution">Institution</span></dt>
        <dd>
          <div *ngIf="appUser.institution">
            <a [routerLink]="['/institution', appUser.institution?.id, 'view']">{{ appUser.institution?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/app-user', appUser.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
