<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="record">
      <h2 data-cy="recordDetailsHeading"><span emrTranslate="emrApp.record.detail.title">Record</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ record.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.name">Name</span></dt>
        <dd>
          <span>{{ record.name }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.recordDate">Record Date</span></dt>
        <dd>
          <span>{{ record.recordDate | formatMediumDatetime }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.additionalInformation">Additional Information</span></dt>
        <dd>
          <span>{{ record.additionalInformation }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.active">Active</span></dt>
        <dd>
          <span>{{ record.active }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.user">User</span></dt>
        <dd>
          <span>{{ record.user?.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.record.recordType">Record Type</span></dt>
        <dd>
          <div *ngIf="record.recordType">
            <a [routerLink]="['/record-type', record.recordType?.id, 'view']">{{ record.recordType?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/record', record.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
