<div>
  <h2 id="page-heading" data-cy="ConsentHeading">
    <span emrTranslate="emrApp.consent.home.title">Consents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.consent.home.refreshListLabel">Refresh List</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-consent"
        [routerLink]="['/consent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.consent.home.createLabel"> Create a new Consent </span>
      </button> -->
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="col-md-12">
    <div class="alert alert-warning" id="no-result" *ngIf="consents?.length === 0">
      <span emrTranslate="emrApp.consent.home.notFound">No consents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="consents && consents.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">

            <th scope="col" emrSortBy="patient.firstName" style="min-width: 200px;">
              <span emrTranslate="emrApp.consent.patient">Patient</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consent of consents; trackBy: trackId" data-cy="entityTable">
            <td style="min-width: 200px;">
              {{ consent.patient?.firstName }} {{ consent.patient?.lastName }}
            </td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/record', consent.patient?.id]"
                  class="btn btn-secondary btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="notes-medical"></fa-icon>
                  <span class="d-none d-md-inline" emrTranslate="entity.action.medicalHistory">medicalHistory</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/document', consent.patient?.id]"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="file-medical"></fa-icon>
                  <span class="d-none d-md-inline" emrTranslate="entity.action.documents">Documents</span>
                </button>
                <button
                  type="submit"
                  [routerLink]="['/conversation']"
                  class="btn btn-warning btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="comment-medical"></fa-icon>
                  <span class="d-none d-md-inline" emrTranslate="entity.action.consultations">Consultations</span>
                </button>
<!--
                <button
                  type="submit"
                  [routerLink]="['/consent', consent.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
                </button> -->

                <button type="submit" (click)="delete(consent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>
