<div>
  <h2 id="page-heading" data-cy="AppointmentHeading">
    <span emrTranslate="emrApp.appointment.home.title">Appointments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.appointment.home.refreshListLabel">Refresh List</span>
      </button>

      <!-- <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment"
        [routerLink]="['/appointment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.appointment.home.createLabel"> Create a new Appointment </span>
      </button> -->
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
    <span emrTranslate="emrApp.appointment.home.notFound">No appointments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointments && appointments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="appointmentDate">
            <span emrTranslate="emrApp.appointment.appointmentDate">Appointment Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="timeFrom">
            <span emrTranslate="emrApp.appointment.timeFrom">Time From</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="timeTo">
            <span emrTranslate="emrApp.appointment.timeTo">Time To</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="appointmentStatus">
            <span emrTranslate="emrApp.appointment.appointmentStatus">Appointment Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="patient.id" *ngIf="isDoctor">
            <span emrTranslate="emrApp.appointment.patient">Patient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="doctor.id" *ngIf="!isDoctor">
            <span emrTranslate="emrApp.appointment.doctor">Doctor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/appointment', appointment.id, 'view']">{{ appointment.id }}</a>
          </td>
          <td>{{ appointment.appointmentDate | formatMediumDate }}</td>
          <td>{{ appointment.timeFrom }}</td>
          <td>{{ appointment.timeTo }}</td>
          <td emrTranslate="{{ 'emrApp.AppointmentStatus.' + appointment.appointmentStatus }}">{{ appointment.appointmentStatus }}</td>
          <td *ngIf="isDoctor">
            {{ appointment.patient?.firstName }} {{ appointment.patient?.lastName }}
          </td>
          <td *ngIf="!isDoctor">
            {{ appointment.doctor?.firstName }}  {{ appointment.doctor?.lastName }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment', appointment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appointment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appointments && appointments.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
