<div>
  <h2 id="page-heading" data-cy="WorkHourHeading">
    <span emrTranslate="emrApp.workHour.home.title">Work Hours</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span emrTranslate="emrApp.workHour.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-work-hour"
        [routerLink]="['/work-hour/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span emrTranslate="emrApp.workHour.home.createLabel"> Create a new Work Hour </span>
      </button>
    </div>
  </h2>

  <emr-alert-error></emr-alert-error>

  <emr-alert></emr-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="workHours?.length === 0">
    <span emrTranslate="emrApp.workHour.home.notFound">No workHours found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="workHours && workHours.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr emrSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" emrSortBy="id"><span emrTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="timeFrom">
            <span emrTranslate="emrApp.workHour.timeFrom">Time From</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" emrSortBy="timeTo"><span emrTranslate="emrApp.workHour.timeTo">Time To</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" emrSortBy="user.id"><span emrTranslate="emrApp.workHour.user">User</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workHour of workHours; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/work-hour', workHour.id, 'view']">{{ workHour.id }}</a>
          </td>
          <td>{{ workHour.timeFrom }}</td>
          <td>{{ workHour.timeTo }}</td>
          <td>
            {{ workHour.user?.firstName }} {{ workHour.user?.lastName }}
          </td>
          <td class="text-right">
            <div class="btn-group">

              <button
                type="submit"
                [routerLink]="['/work-hour', workHour.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(workHour)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" emrTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="workHours && workHours.length > 0">
    <div class="row justify-content-center">
      <emr-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></emr-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
