<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="institution">
      <h2 data-cy="institutionDetailsHeading"><span emrTranslate="emrApp.institution.detail.title">Institution</span></h2>

      <hr />

      <emr-alert-error></emr-alert-error>

      <emr-alert></emr-alert>

      <dl class="row-md jh-entity-details">
        <dt><span emrTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ institution.id }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.institution.name">Name</span></dt>
        <dd>
          <span>{{ institution.name }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.institution.phoneNumber">Phone Number</span></dt>
        <dd>
          <span>{{ institution.phoneNumber }}</span>
        </dd>
        <dt><span emrTranslate="emrApp.institution.address">Address</span></dt>
        <dd>
          <div *ngIf="institution.address">
            <a [routerLink]="['/address', institution.address?.id, 'view']">{{ institution.address?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span emrTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/institution', institution.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span emrTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
